.questionList {
  border-style: none;
}

.questionList .question {
  color: #428bca;
}
.questionList .answer {
  color: #777;
}
.questionList .Dr {
  font-size: 12px;
  color: #a99e9e;
}

/* star rating CSS */
input[name="rating"] {
  display: none;
}

/* .star{
    cursor: 
    transition: color 100ms;
  } */

.dot {
  height: 25px;
  width: 25px;
  background-color: #dd2c00;
  border-radius: 50%;
  display: inline-block;
}

/* star rating CSS ends */

/* notification CSS  */
/* #notification {
  width: 10px;
  height: 30px;
} */

/* .label {
  font-weight: bold;
  text-align: left;
} */

.button {
  background-color: #599c57;
  border-color: #599c57;
  border-radius: 30;
}

.nav-link {
  margin-top: 10;
  margin-bottom: 5;
  margin-left: 3;
  margin-right: 3;
  font-size: 14px;
}
